[general]
static=yes
writeprotect=no
clearglobalvars=no

[fromntt]
exten => _0.,1,Set(CALLERID(num)=${MYNUMBER})
exten => _0.,2,Set(CALLERID(name)=${MYNUMBER})
exten => _0.,n,Dial(SIP/${EXTEN}@fromntt)
