[transport-udp]
type = transport
protocol = udp
bind = 0.0.0.0 

[ntt]
type = registration
retry_interval = 20
max_retries = 10
contact_user = 0363048968
expiration = 3600
transport = transport-udp
client_uri = sip:0363048968@ntt-east.ne.jp
server_uri = sip:ntt-east.ne.jp

[ntt]
type = aor
contact = sip:ntt-east.ne.jp

[ntt]
type = identify
endpoint = ntt
match = ntt-east.ne.jp

[ntt]
type = endpoint
context = from-ntt
from_domain = ntt-east.ne.jp
aors = ntt
disallow = all
allow = ulaw
language = ja

[6001]
type=endpoint
transport=transport-udp
context=from-internal
disallow=all
allow=ulaw
allow=gsm
auth=6001
aors=6001

[6001]
type=auth
auth_type=userpass
password=6001
username=6001

[6001]
type=aor
max_contacts=1

[6002]
type=endpoint
transport=transport-udp
context=from-internal
disallow=all
allow=ulaw
allow=gsm
auth=6002
aors=6002

[6002]
type=auth
auth_type=userpass
password=6002
username=6002

[6002]
type=aor
max_contacts=1
